/*
background: #b2c2bf
title/animations:#eaece5
animation alternate: #c0ded9
text: #3b3a30
*/




@font-face {
  font-family: "futura";
  url("../prova-sito-elementi/fonts/futura/FuturaLight.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  background-color: #b2c2bf;
  margin-left:20vw;
  margin-right:20vw;
  margin-top:5vh;
}


.titolo{
  font-size: 5vh;
  text-align:center;
  padding-bottom: 5vh;
}

.sottotitolo{
  font-size: 3vh;
  text-align:center;
  padding-bottom: 2vh;
}

h1, h2{
  font-family:futura;
  color:#3b3a30;
}

p{
  color:#3b3a30;
  font-family: monospace;
  height: 50vh;
  overflow: scroll;
}
a{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

a:link{
  color:#3b3a30;
}
a:visited{
  color:#3b3a30;
}

a:hover{
  color:#eaece5;
  cursor:default;}
