/*
background: #b2c2bf
title/animations:#eaece5
animation alternate: #c0ded9
text: #3b3a30
*/






body{
  background-color: #b2c2bf;
  margin-left:20vw;
  margin-right:20vw;
  margin-top:5vh;
}


.titolo{
  font-size: 7vh;
  text-align: center;
  padding: 2vh;
}

.sottotitolo{
  font-size: 4vh;
  text-align: left;
  padding-bottom: 2vh;
}

h1, h2{
  font-family:sans-serif;
  color:#3b3a30;
}

p{
  color:#3b3a30;
  font-family: monospace;
  height: 50vh;
  overflow: scroll;
}
a{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

a:link{
  color:#3b3a30;
}
a:visited{
  color:#3b3a30;
}

a:hover{
  color:#eaece5;
  cursor:default;}
